<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Programas</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="me-2">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="novo(ProgramaCad)">Novo</button>
            <!--data-toggle="modal" data-target="#ProgramaCad"-->
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-sm" *ngIf="programas.length>0">
        <thead>
            <tr>
                <th scope="col" style="max-width:60px">#</th>
                <th scope="col" style="max-width:400px">Nome</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let programa of programas">
                <td>{{programa.prog_id}}</td>
                <td>{{programa.prog_nome}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-success me-1"><i
                            class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash3"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="programas.length<=0">
        <h5>Nenhum programa encontrado</h5>
    </div>
</div>

<ng-template #ProgramaCad let-modal>
    <!--<div class="modal fade" id="ProgramaCad" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">-->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cadastro de Programa</h5>
            </div>
            <form [formGroup]="frmPrograma" (ngSubmit)="salvar()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nome">Nome do Programa</label>
                        <input type="text" class="form-control" id="nome" name="nome" formControlName="nome">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close()">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        <!--</div>
    </div>
</div>-->
</ng-template>