<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Firmwares</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="me-2">
      <button
        type="button"
        class="btn btn-sm btn-outline-primary"
        (click)="novo(FirmwareCad)"
      >
        Novo
      </button>
      <!--data-toggle="modal" data-target="#ProgramaCad"-->
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="mb-3">
            <label for="programa_filtro" class="form-label">Programa</label>
            <select id="programa_filtro" name="programa_filtro" #programaObj class="form-select" (click)="trocarPrograma(programaObj.value)">
                <option *ngFor="let prog of programas" value="{{prog.prog_id}}">{{prog.prog_nome}}</option>
            </select>
        </div>
    </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-sm" *ngIf="firmwares.length > 0">
    <thead>
      <tr>
        <th scope="col" style="max-width: 60px">#</th>
        <th scope="col" style="max-width: 400px">Nome</th>
        <th scope="col" style="max-width: 400px">Programa</th>
        <th scope="col" style="max-width: 400px">Data</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let firm of firmwares">
        <td>{{ firm.firm_id }}</td>
        <td>{{ firm.firm_nome }}</td>
        <td>{{ firm.prog_nome }}</td>
        <td>{{ firm.firm_data | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>
          <button
            type="button"
            class="btn btn-sm btn-outline-success me-1"
            (click)="editar(FirmwareCad, firm)"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            (click)="confirmaExcluir(ConfirmaDel, firm)"
          >
            <i class="bi bi-trash3"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="firmwares.length <= 0">
    <h5>Nenhum firmware encontrado</h5>
  </div>
</div>

<ng-template #FirmwareCad let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Cadastro de Firmware</h5>
  </div>
  <form [formGroup]="frmFirmware" (ngSubmit)="salvar()">
    <div class="modal-body">
      <div class="form-group">
        <label for="nome">Nome do Firmware</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          name="nome"
          formControlName="nome"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="programa" class="form-label">Programa</label>
        <select id="programa" name="programa" class="form-select" formControlName="programa" >
            <option *ngFor="let prog of programas" value="{{prog.prog_id}}">{{prog.prog_nome}}</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label for="arquivo" class="form-label">Arquivo do Firmware</label>
        <input class="form-control" id="arquivo" type="file" (change)="selecionarArquivo($event)">
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="modal.close()"
      >
        Fechar
      </button>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #ConfirmaDel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Excluir Firmware</h4>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirma a exclusão do firmware?</strong>
    </p>
    <p>
      <span class="text-danger"
        >Todos os grupos utilizando este firmware serão desassociados.</span
      ><br />
      <span class="text-danger">Esta operação não pode ser desfeita.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      ngbAutofocus
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="excluir()">
      Excluir
    </button>
  </div>
</ng-template>
